{% extends 'loginscreen/base.html' %}
{% block content %}

    <h3 class="login-heading mb-4">Wachtwoord vergeten</h3>
    <h6 class="InfoText">Hier kunt u uw nieuwe wachtwoord invullen!</h6>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error|escape }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        <div class="form-label-group">
            {% csrf_token %}
            <div class="form-label-group">
                <div class="form-label-group">
                    {{ form.new_password1 }}
                    <label for="inputPassword">Wachtwoord</label>
                </div>
            </div>    
            <div class="form-label-group">
                <div class="form-label-group">
                    {{ form.new_password2 }}
                    <label for="inputPassword">Wachtwoord</label>
                </div>
            </div>          
        </div>
        <div class="Button">
            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"> Verstuur account link </button>
        </div>
    </form>
    <!-- <form method="POST">
        <div class="form-label-group">
            {% csrf_token %}
            {{ form.new_password1 }}
            {{ form.new_password2 }}
        </div>
        <div class="Button">
            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" href=""> Reset wachtwoord </button>
        </div>
    </form> -->

{% endblock %}